<div class='landing h-screen col-start-1 border-r-2 border-black flex flex-col justify-center'>
    <ul class='flex flex-col items-end text-8xl pr-4 font-primary'>
        <h2 class='animate-hue hover:text-grey'>create</h2>
        <h2 class='mt-4 text-grey hover:text-black'>showcase</h2>
        <h2 class='mt-4 hover:text-grey'>& collect</h2>
    </ul>
    <button class='text-white text-xl mt-4 w-fit self-end mr-4 px-4 bg-black py-2'><%= link_to 'Discover', dashboards_path %></button>
</div>
 