<div class='w-full grid grid-cols-3 mx-5 mb-5 gap-5 flex justify-center items-start mt-20'>
  <% if @galleries %>
    <% @galleries.each do |gallery|%>
      <div class= 'flex flex-col w-96 h-auto'>
        <% if gallery.images %>
          <%= link_to image_tag(gallery.images.first.img.to_s), user_gallery_path(current_user, gallery) %>
          <div class='w-full grid grid-cols-2 mt-4 flex'>
            <span class='mr-4 col-start-1 flex justify-start font-semibold pl-2'><%= gallery.title %></span>
            <% if gallery.gallery_price != nil and gallery.gallery_price > 0 %>
              <span class='col-start-2 flex justify-end pr-2'><%= gallery.gallery_price %> PHP</span>
            <% else %>
              <span class='col-start-2 flex justify-end pr-2'>not for sale</span>
            <% end %>
          </div>
          <div class='w-full max-h-28 flex justify-start pl-2 overflow-y-auto no-scrollbar text-sm'>
            <span class='col-start-1'><%= gallery.caption %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>