<div class='w-full grid grid-cols-3 mx-5 mb-5 gap-5 flex justify-center items-start mt-20'>
  <% @galleries.each do |gallery|%>
    <div class= 'flex flex-col items-center justify-center w-96 h-auto'>
      <% gallery.images.each do |image| %>
        <%= image_tag(image.img.to_s)%>
      <% end %>
     
      <div class='w-full max-h-28 flex justify-start pl-2 overflow-y-auto no-scrollbar text-sm'>
      </div>
    </div>
  <% end %>
</div>
